<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Calificacion</th> 
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody *ngFor = "let calificacion of calificaciones">
                <tr>
                    <td><span>{{calificacion.calificacion}}</span></td>
                    <td><span>{{calificacion.comentario}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
