<head>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
</head>
<div class="clasesita">
    <table class="tg" *ngIf="hojaDeVida">
        <tr>
            <th class="tg-hc5y">Trayectoria</th>
            <th class="tg-zuva">{{hojaDeVida.trayectoria}}</th>
        </tr>
        <tr>
            <td class="tg-hc5y">Email</td>
            <td class="tg-zuva">{{hojaDeVida.email}}</td>
        </tr>
        <tr>
            <td class="tg-qxtp">Dirección</td>
            <td class="tg-y6fn">{{hojaDeVida.direccion}}</td>
        </tr>
        <tr>
            <td class="tg-qxtp">Formación</td>
            <td class="tg-y6fn">{{hojaDeVida.formacion}}</td>
        </tr>
    </table>
    <div></div>
    <div class="hola">
        <div></div>
        <button type="button" routerLink="referencias">Ver referencias</button>
        <div></div>
    </div>
    <div></div>
    <div></div>
</div>

