
<div class="laClase">
    <input placeholder="NombreRemitente" />
    <input placeholder="Empresa" />
    <input placeholder="Cargo" />
    <input placeholder="Email" />

    <!-- <input placeholder="NombreRemitente" [(ngModel)]="nuevaReferencia.nombreRemitente"/>
    <input placeholder="Empresa" [(ngModel)]="nuevaReferencia.empresa"/>
    <input placeholder="Cargo" [(ngModel)]="nuevaReferencia.cargo"/>
    <input placeholder="Email" [(ngModel)]="nuevaReferencia.email"/> -->
    
    <button (click)="agregarReferencia()">Agregar</button>
</div>
<div class="container-fluid">
    <div class="card-deck">
        <a class="crd card-deck justify-content-center" *ngFor="let referencia of referencias">
            <img style="width:142px;height:142px" src="https://techflourish.com/images/transparent-people-png-clipart-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Referencia de {{referencia.nombreRemitente}}</h5>
                <p class="card-text">{{referencia.empresa}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6 class="card-title">Cargo</h6>
                    <p>{{referencia.cargo}}</p>
                </li>
                <li class="list-group-item">
                    <h6 class="card-title">Contacto</h6>
                    <p>Email: {{referencia.email}} </p>
                </li>
            </ul>

        </a>

    </div>
</div>
