<div class="container-fluid p-3 mb-2 bg-info text-white">

    <div class="row">
        <div class="col-auto mr-auto">
            <h1 style="font-size:300%;">Solicitud {{solicitudDetail.id}}</h1>
            <h5>{{solicitudDetail.fecha| date:'yyyy-MM-dd'}}</h5>
            <h5>{{solicitudDetail.direccion}}</h5>
        </div>
        <div class="col-auto" *ngIf="showEdit">
            <button class="btn btn-outline-light" routerLink="/solicitudes/{{solicitudDetail.id}}/edit">Edit</button>
        </div>
    </div>
</div><div class="container-fluid">
    <div class="row">

        <div class="row">
            <div class="col-auto">
                <button type="button" class="btn btn-outline-info" [ngClass]="{ 'btn-primary': servicioListComponent.isCollapsed,'btn-outline-primary':!servicioListComponent.isCollapsed}"
                    (click)="toggleServicios()">
                    Ver servicios
                </button>
            </div>
            <div class="col-auto" *ngIf="showEdit">
                <button type="button" class="btn btn-outline-info" [ngClass]="{ 'btn-primary': servicioAddComponent.isCollapsed,'btn-outline-primary':!servicioAddComponent.isCollapsed}"
                    (click)="toggleCreateServicio()">
                    + Nuevo servicio
                </button>
            </div>
        </div>
    </div>
</div>
