<div id="collapseServicio" [ngbCollapse]="isCollapsed">
    <div class="card mb-3" *ngFor="let servicio of solicitudServicios">
        <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link active text-white bg-info" >Servicio {{servicio.id}}</a>
                  </li>
                </ul>
              </div>
        <div class="card-body text-info">
            <h5 class="card-title">Descripcion</h5>
            <p class="card-text">{{servicio.descripcion}}</p>
            <div class="dropdown-divider"></div>
            <h5 class="card-title">Requerimientos</h5>
            <p class="card-text">{{servicio.requerimientos}}</p>
        </div>
    </div>
</div>