<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-3 no-float bg-dark text-white" style="z-index: 6;">
            <nav class="nav flex-column">
                <li class="nav-item bg-secondary text-white mb-4 mt-4 p-3">
                    <h4 style="padding-left: 60px;"><span class="fa fa-calendar mr-4"></span>Solicitudes</h4>
                </li>
                <div *ngFor="let solicitud of clienteDetail.solicitudes" style="padding-left: 60px;">
                    
                    <li class="nav-item m-1">
                            <button class="btn btn-outline-light btn-lg btn-block" [ngClass]="{ 'btn-primary': solicitudDetailComponent.isCollapsed,'btn-outline-primary':!solicitudDetailComponent.isCollapsed}" (click)="toggleSolicitud()"><span class="fa fa-group mr-4"></span>{{solicitud.fecha}}</button>
                        </li>
                </div>

                <li class="nav-item bg-secondary text-white mb-4 mt-4 p-3">
                        <h4 style="padding-left: 60px;"><span class="fa fa-credit-card mr-4"></span>Tarjetas</h4>
                    </li>
                    <div *ngFor="let tarjeta of clienteDetail.tarjetas" style="padding-left: 60px;">
                        
                            <li class="nav-item m-1">
                                    <button class="btn btn-outline-light btn-lg btn-block"><span class="fa fa-group mr-4"></span>{{tarjeta.numero}}</button>
                                </li>
                    </div>
            </nav>
        </div>
        <div class="col-md-9 no-float">
            DETAIL
            <app-solicitud-detail [cliente_id]="cliente_id" [solicitud_id]=69></app-solicitud-detail>
        </div>
        </div>
    </div>
