BLABLABLA
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-3 no-float bg-dark text-white" style="z-index: 7;">
            <nav class="nav flex-column">
                <li class="nav-item bg-secondary text-white mb-4 mt-4 p-3">
                    <h4><span class="fa fa-calendar mr-4"></span>Solicitudes</h4>
                </li>
                <div *ngFor="let solicitud of clienteDetail.solicitudes">
                    
                    <li class="nav-item m-1">
                            <button class="btn btn-outline-light btn-lg btn-block" routerLink="solicitudes/{{solicitud.id}}"><span class="fa fa-group mr-4"></span>{{solicitud.fecha}}</button>
                        </li>
                </div>

                <li class="nav-item bg-secondary text-white mb-4 mt-4 p-3">
                        <h4><span class="fa fa-credit-card mr-4"></span>Tarjetas</h4>
                    </li>
                    <div *ngFor="let tarjeta of clienteDetail.tarjetas">
                        
                        <li class="nav-item m-1">
                                <button class="btn btn-outline-light btn-lg btn-block" routerLink="tarjetas/{{tarjeta.numero}}" ><span class="fa fa-group mr-4"></span>{{tarjeta.numero}}</button>
                            </li>
                    </div>
            </nav>
        </div>
    </div>
</div>



<!-- routerLink="/clientes/{{cliente.id}}/solicitudes/{{solicitud.id}}" -->
