<div class="container-fluid" class="row">
    <div class="card-deck" class="col-sm">
        <a class="crd card-deck justify-content-center">
            <img class="img-fluid" src='https://png.pngtree.com/svg/20161113/man_1074208.png' alt="Persona">
            <div class="card-body">
                <h5 class="text-center">{{clienteDetail.nombre}}</h5>

            </div>
            <li class="list-group-item">
                <h6 class="text-center">Correo</h6>
                <p class="text-center">{{clienteDetail.correo}}</p>
            </li>
            <li class="list-group-item">
                <h6 class="text-center">Direccion</h6>
                <p class="text-center">{{clienteDetail.direccion}}</p>
            </li>

        </a>
    </div>
    <div class="card-deck" class="col-sm">
        <a class="crd card-deck justify-content-center">
            <!-- <div class="col-8">
                        <div *ngIf="selectedCliente">
                            <app-solicitud-list [solicitudList]="selectedCliente"></app-solicitud-list>
                        </div>
             </div>  -->
        </a>
    </div>
</div>