<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cedula </th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let prestador of prestadores">
                <td><button routerLink="/prestadores/{{prestador.id}}" type="button" class="btn btn-link">{{prestador.nombre}}</button></td>
                <td><span>{{prestador.cedula}}</span></td>
            </tr>
        </tbody>
    </table>
    
    <div class="container-fluid">
        <div class="col">
    
        </div>
    </div>