<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th> 
                    <th>Cedula </th>
                </tr>
            </thead>
            <tbody *ngFor = "let prestador of prestadores">
                <tr>
                    <td><span>{{prestador.nombre}}</span></td>
                    <td><span>{{prestador.cedula}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
