<div>
    <div class="card-group">
            <div class="col-4"  *ngFor="let factura of facturas">
                <div class="card">
                        <div class="card-body">
                        <h6>Número de factura</h6>
                          <p class="card-title">{{factura.numero}}</p>
                          <h6>Fecha de factura</h6>
                          <p class="card-text">{{factura.date}}</p>
                          <h6>Valor de factura</h6>
                          <p class="card-text">{{factura.valor}}</p>
                          <h6>Método de pago de factura</h6>
                          <p class="card-text">{{factura.pago}}</p>
                        </div>
                        <div class="card-body">
                                <button type="button">Ver solicitudes</button>
                            </div>
                </div>
            </div>
        </div>
</div>
