<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
holihohi

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo </th>
            <th>Direccion </th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let cliente of clientes">
            <td><button routerLink="/clientes/{{cliente.id}}" type="button" class="btn btn-link">{{cliente.nombre}}</button></td>
            <td><span>{{cliente.correo}}</span></td>
            <td><span>{{cliente.direccion}}</span></td>
        </tr>
    </tbody>
</table>

<div class="container-fluid">
    <div class="col">

    </div>
</div>

<!-- <table>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Correo</th>
    </tr>
    <tr>
        <td *ngFor="let cliente of clientes">{{cliente.id}}</td>
        <td *ngFor="let cliente of clientes">{{cliente.nombre}}</td>
        <td *ngFor="let cliente of clientes">{{cliente.direccion}}</td>
        <td *ngFor="let cliente of clientes">{{cliente.correo}}</td>
    </tr>
</table> -->