<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

              
               
                 
                      <table >
                            <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Correo</th>
                            </tr>
                            <tr>
                                    <td *ngFor = "let cliente of clientes">{{cliente.id}}</td>
                                    <td *ngFor = "let cliente of clientes">{{cliente.nombre}}</td>
                                    <td *ngFor = "let cliente of clientes">{{cliente.direccion}}</td>
                                    <td *ngFor = "let cliente of clientes">{{cliente.correo}}</td>
                            </tr>
                           </table>   