<div class="row">
        <div class="col-6 offset-3">
            <br>
            <h2 class="text-center">Sign up</h2>
            <br>
            <form name="solicitud-create" (ngSubmit)="f.form.valid && createSolicitud()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="fecha"><b>Fecha</b></label>
                    <input type="text" name="fecha" class="form-control" id="fecha" [(ngModel)]="solicitud.fecha" required>
                </div>
                <div class="form-group">
                    <label for="direccion"><b>Direccion</b></label>
                    <input type="text" name="direccion" class="form-control" id="direccion" [(ngModel)]="solicitud.fecha" required>
                </div>
                <div class="form-group">
                    <label for="factura"><b>Factura</b></label>
                    <input type="text" name="factura" class="form-control" id="factura" [(ngModel)]="solicitud.factura" required>

                </div>
                <div class="row form-inline justify-content-center align-self-center">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <div class="divider"></div>
                        <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                    </div>
            </form>
        </div>
    </div>
