<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descripcion</th> 
                    <th>Tipo </th>
                    <th>Id Prestador </th>
                </tr>
            </thead>
            <tbody *ngFor = "let habilidad of habilidades">
                <tr>
                    <td><span>{{habilidad.descripcion}}</span></td>
                    <td><span>{{habilidad.tipo}}</span></td>
                    <td><span>{{habilidad.prestador_id}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

