<div class="container-fluid">
    <div class="card-deck justify-content-center">
        <a class="crd card " *ngFor="let servicio of solicitudServicios">
            <div class="card-body ">
                <span class="dot"></span>
                <h5 class="card-title">Servicio {{servicio.id}}</h5>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    <h6 class="card-title">Descripcion</h6>
                    <p>{{servicio.descripcion}}</p>
                </li>
                <li class="list-group-item">
                    <h6 class="card-title">Requerimientos</h6>
                    <p>{{servicio.requerimientos}}</p>
                </li>
            </ul>
        </a>
    </div>
</div>