.navbar{
    z-index: 10;
    position: fixed; width: 100%; top: 0px; left: 0px;
}

.content{
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
}

.nav{
    z-index: 7;
    position: fixed;
    top: 0;
    left: 0;
    height:100vh;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 60px;
    transition: width 1s ;
}   

.nav:hover {
    width: 250px;
} 

#footer {
    z-index: 5;
    position: fixed; width: 100%; bottom: 0px; left: 0px;
}