<!--The content below is only a placeholder and can be replaced.-->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="prestadoresTag" class="nav-link" routerLink="/prestadores/list">Prestadores</a>
    </li>
    <li class="nav-item">
        <a id="habilidadesTag" class="nav-link" routerLink="/habilidades/list">Habilidades</a>
    </li>
    <li class="nav-item">
        <a id="calificacionesTag" class="nav-link" routerLink="/calificaciones/list">Calificacion</a>
    </li>
    <li class="nav-item dropdown">       
        <a class="nav-link dropdown-toggle" routerLink="/clientes/list"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/clientes/list" >Clientes</a>
            <a class="dropdown-item" routerLink="/clientes/add">Crear Cliente</a>
          </div>
    </li>
    <li class="nav-item">
        <a id="facturasTag" class="nav-link" routerLink="/facturas/list">Factura</a>
    </li>
    <li class="nav-item">
        <a id="hojasdevidaTag" class="nav-link" routerLink="/hojasdevida/list">Hoja de Vida</a>
    </li>
    <li class="nav-item">
        <a id="referenciasTag" class="nav-link" routerLink="/referencias/list">Referencia</a>
    </li>
    <li class="nav-item">
        <a id="serviciosTag" class="nav-link" routerLink="/servicios/list">Servicio</a>
    </li>
    <li class="nav-item">
        <a id="solicitudesTag" class="nav-link" routerLink="/solicitudes/list">Solicitud</a>
    </li>
    <li class="nav-item">
        <a id="tarjetacreditoTag" class="nav-link" routerLink="/tarjetascredito/list">Tarjeta Crédito</a>
    </li>
</ul>
<div class="list">
    <router-outlet></router-outlet>
</div>