
.nav{
        float:left;
        height:100vh;
        display: inline-block;
        white-space: nowrap;
        width: 60px;
        transition: width 1s ;
    }   

.nav:hover {
        width: 250px;
    }    
   

    