<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<app-calificacion-list></app-calificacion-list>
<app-cliente-list></app-cliente-list>
<app-factura-list></app-factura-list>
<app-habilidad-list></app-habilidad-list>
<app-hoja-de-vida-list></app-hoja-de-vida-list>
<app-prestador-list></app-prestador-list>
<app-referencia-list></app-referencia-list>
<app-servicio-list></app-servicio-list>
<app-solicitud-list></app-solicitud-list>
<app-tarjeta-credito-list></app-tarjeta-credito-list>
</div>


