<div class="panel panel-default"> 
    <div>
        <div class="border margin">
            <p class="h3 p-3">{{prestadorDetail.nombre}}</p> 
            <div class="row">
                <div class="col-md-8">
                    <dl>  
                        <hr>
                        <dt> Cédula</dt>
                        <dd>{{prestadorDetail.cedula}}</dd>
                    </dl>
                    <div >
                        <div class="row">
                            <div class="col-md-3">
                                <p *ngIf="prestadorDetail.habilities?.length > 0">
                                    <button type="button" class="btn" [ngClass]="{ 'btn-primary': habilidadListComponent.isCollapsed,'btn-outline-primary':!habilidadListComponent.isCollapsed}" (click)="toggleHabilidades()">
                                        Habilidades del prestador
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <button type="button" class="btn" [ngClass]="{ 'btn-primary': habilidadAddComponent.isCollapsed,'btn-outline-primary':!habilidadAddComponent.isCollapsed}" (click)="toggleCreateHabilidad()">
                                        Crear una habilidad
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <app-prestador-habilidades [prestadorHabilidades]="prestadorDetail.habilities"></app-prestador-habilidades>
                    <app-prestador-add-habilidad [prestador]="prestadorDetail" (updateHabilidades)="updateHabilidades()"></app-prestador-add-habilidad>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row border margin">
    <p class="h3 p-3">Otros prestadores que te podrían interesar</p>
    <app-prestador-list [prestadores]="otros_prestadores"></app-prestador-list>
</div>
