        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Trayectoria: </td>
                    <td><span id="prestador-hojaDeVida"><i>{{prestadorHojaDeVida.trayectoria}}</i></span></td>
                </tr>
                <tr>
                    <td>Fecha de nacimiento: </td>
                    <td><span id="hojaDeVida-fechaNacimiento"><i>{{prestadorHojaDeVida.fechaNacimiento}}</i></span></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><span id="hojaDeVida-email"><i>{{prestadorHojaDeVida.email}}</i></span></td>
                </tr>
                <tr>
                    <td>Telefono: </td>
                    <td><span id="hojaDeVida-telefono"><i>{{prestadorHojaDeVida.telefono}}</i></span></td>
                </tr>
                <tr>
                    <td> Direccion: </td>
                    <td><span id="hojaDeVida-direccion"><i>{{prestadorHojaDeVida.direccion}}</i></span></td>
                </tr>
                <tr>
                    <td> Formacion: </td>
                    <td><span id="hojaDeVida-hojaDeVida"><i>{{prestadorHojaDeVida.formacion}}</i></span></td>
                </tr>
            </tbody>
        </table>